body {
  background-color: blanchedalmond;
}
.App {
  text-align: center;
  margin-top: 50px;
  
}
.h1{ 
  text-decoration-color: aquamarine;
}
.counter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #3498db; 
  color: white; 
  border:#3498db black;
  
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

